html, body {
    margin: 0;
    padding: 0;
    background-image: url('images/space.jpg');
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}